<div class="container">
    <h1>MyTask App</h1>
    <div class="form">
        <input type="text" name="" id="" placeholder="Nova atividade" class="input-form">
        <button class="btn-form">Criar</button>
    </div>
    <div class="tasks">
        <div class="task">
            <p>lorem impsum</p>
            <div class="buttons">
                <button class="check">✔</button>
                <button class="delete">🗑</button>
            </div>
        </div>
    </div>
    <div class="tasks">
        <div class="task">
            <p>lorem impsum</p>
            <div class="buttons">
                <button class="check">✔</button>
                <button class="delete">🗑</button>
            </div>
        </div>
    </div>
    <div class="tasks">
        <div class="task">
            <p>lorem impsum</p>
            <div class="buttons">
                <button class="check">✔</button>
                <button class="delete">🗑</button>
            </div>
        </div>
    </div>
</div>