<div class="container">
    <nav><button class="btn-logout" (click)="logout()">Logout</button></nav>
    <h1>MyTask App</h1>
    <div class="form">
        <input type="text" name="" id="" placeholder="Nova atividade" class="input-form" [(ngModel)]="taskName" (keyup.enter)="createTask()">
        <button class="btn-form" (click)="createTask()">Criar</button>
    </div>
    @for (task of allTasks; track task.id) {
        <div class="tasks">
            <div class="task">
                @if (!task.editing) {
                    <p [ngClass]="{'destaque': task.status === 'COMPLETED'}">{{task.taskName}}</p>
                }@else {
                    <input type="text" class="input-edit" placeholder="Editar nome" (keyup.enter)="editTaskName(task)" [(ngModel)]="taskNameEdited">
                    <button class="btn-edit" (click)="editTaskName(task)">Editar</button>
                }
                <div class="buttons">
                    @if (task.status === "NOT_COMPLETED") {
                        <button class="check" (click)="checkTask(task)">✔</button>
                        
                    }@else {
                        <button class="revert" (click)="revertTask(task)">↻</button>
                    }
                    <button class="edit" (click)="editTask(task)">✏️</button>
                    <button class="delete" (click)="deleteTask(task)">🗑</button>
                </div>
            </div>
        </div>
    }
    <mat-paginator [length]="totalItens"
              [pageSize]="6"
              aria-label="Select page"
              (page)="mudarPagina($event)"
              >
    </mat-paginator>
</div>