*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

main{
    position: absolute;
    left: 50%;
    top: 50px;
}