.navbar {
    background-color: #184534;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5); 
}

.navbar p {
    color: #ffff;
}

.navbar a {
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}

.img {
    width: 100px;
    margin-top: 5px;
}