<app-navbar></app-navbar>
<div class="container">
    <div class="filters">
        <h2 class="filter-title">Filtros dos lançamentos</h2>
        <div class="expansions">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Filtrar por data</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="p-filter">Data inicial e final:</p>
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Filtrar por categoria</mat-panel-title>
                </mat-expansion-panel-header>
                    <div class="btn-categories">
                        <button>Receita</button>
                        <button>Despesa</button>
                    </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Filtrar por receitas ou despesas</mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="value-tasks">
        <div class="values">
            <p>Receita: <Span class="receita">R${{revenueValue}}</Span></p>
            <p>Despesa: <Span class="despesa">R${{expenseValue}}</Span></p>
            <p>Restante: <span [ngClass]="value ? 'receita' : 'despesa'">R${{totalValue}}</span></p>
        </div>
        <div class="tasks">
            @for (launch of launches; track launch.id) {
                <div class="task">
                    <div class="infos">
                        <p class="categoryName">{{launch.category.name}}</p>
                        <p class="description">{{launch.description}}</p>
                    </div>
                    <p [ngClass]="{'value-absolut':true, 'receita' : launch.category.typeValue == 'REVENUE', 'despesa': launch.category.typeValue == 'EXPENSE'}">R${{launch.value}}</p>
                    <div class="task-btn">
                        <button class="edit" [routerLink]="['/user/launches/update', launch.id]">✏️</button>
                        <button class="delete" (click)="deleteLaunchDialog(launch.id!)">🗑️</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="revenues">
        <h2 class="grapich-title">Gráficos dos lançamentos</h2>
    </div>
</div>
