.container {
    background-color: #121212;
    width: 100%;
    min-height: calc(93vh - 20px);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.value-tasks{
    width: 670px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.values {
    background-color: #1E1E1E;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 4px;
}

.tasks{
    background-color: #1E1E1E;
    flex: 1;
    border-radius: 4px;
}

.revenues, .filters {
    background-color: #1E1E1E;
    flex-grow: 0;
    width: 400px;
    margin: 0px 20px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.task{
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

p {
    color: white;
}

.categoryName{
    font-weight: bolder;
}

.description{
    font-family:'Roboto';
    font-weight: 100
}

.receita {
    color: green;
}

.despesa {
    color: red;
}

.task-btn {
    display: flex;
    gap: 5px;
}

.task-btn button {
    cursor: pointer;
}

.edit, .delete {
    padding: 4px;
    border-radius: 4px;
    border: none;
}

.edit a {
    text-decoration: none;
}

.value-absolut {
    position: absolute;
    left: 50%;
}

.filter-title, .grapich-title {
    color: white;
    text-align: center;
    margin-top: 10px;
}

mat-expansion-panel {
    width: 95pw;
    margin: 10px;
}

.p-filter {
    color: black;
    padding: 10px;
}

.btn-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-filter-receive, .btn-filter-expense {
    padding: 8px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.btn-filter-receive {
    background-color: green;
}

.btn-filter-expense {
    background-color: red;
}

.categories{
    display: flex;
    justify-content: center;
    padding: 20px 5px;
    flex-wrap: wrap;
    gap: 15px;
}

.btn-category{
    background-color: #121212;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.display-none {
    display: none;
}

.date-task {
    margin: 5px 10px;
}

.filtrar{
    border: none;
    margin-top: 10px;
    background-color: rgb(80, 80, 80);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn{
    background-color: #807e7e;
    border: 2px solid black;
}

.toggle-receive,.toggle-expense {
    background-color: rgb(0, 0, 0);
}
