<app-navbar></app-navbar>
<div class="container">
    <div class="expenses">
        <div class="grapich-expense">
            teste
        </div>
        <div class="categories-expense">
            teste
        </div>
    </div>
    <div class="value-tasks">
        <div class="values">
            <p>Receita: <Span class="receita">R${{revenueValue}}</Span></p>
            <p>Despesa: <Span class="despesa">R${{expenseValue}}</Span></p>
            <p>Restante: <span [ngClass]="value ? 'receita' : 'despesa'">R${{totalValue}}</span></p>
        </div>
        <div class="tasks">
            @for (launch of launches; track launch.id) {
                <div class="task">
                    <div class="infos">
                        <p class="categoryName">{{launch.category.name}}</p>
                        <p class="description">{{launch.description}}</p>
                    </div>
                    <p [ngClass]="{'value-absolut':true, 'receita' : launch.category.typeValue == 'REVENUE', 'despesa': launch.category.typeValue == 'EXPENSE'}">R${{launch.value}}</p>
                    <div class="task-btn">
                        <button class="edit" [routerLink]="['/user/launches/update', launch.id]">✏️</button>
                        <button class="delete" (click)="deleteLaunch()">🗑️</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="revenues">
        <div class="grapich-revenue">
            teste
        </div>
        <div class="categories-revenue">
            teste
        </div>
    </div>
</div>
