.header{
    padding: 30px;
    background-color: rgb(46, 46, 46);
    display: flex;
    gap: 20px;
    justify-content:space-around;
}

.botton-header{
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.botton-header:hover{
    color: green;
}

