<app-navbar [text]="'Ver lançamentos'" [textLink]="'/user/launches'"></app-navbar>
<div class="container">
    <div class="container-form">
        <div class="typeValue">
            <button class="receive" (click)="showRevenues()">Receita</button>
            <button class="expense" (click)="showExpenses()">Despesa</button>
        </div>
        <div  [ngClass]="{'categories':true, 'display-none':notShowExpenses}">
            @for (item of categoriesExpense; track item.id) {
                <button [ngClass]="{'btn-category':true, 'toggleBtn':item.id == selectedCategoryId}" (click)="toggleBtn(item.id)">{{item.name}}</button>
            }
        </div>
        <div [ngClass]="{'categories':true, 'display-none':notShowRevenues}">
            @for (item of categoriesRevenue; track item.id) {
                <button [ngClass]="{'btn-category':true, 'toggleBtn':item.id == selectedCategoryId}" (click)="toggleBtn(item.id)">{{item.name}}</button>
            }
        </div>
        <div class="forms-data">
            <label>Descrição*</label>
            <input type="text" name="" id="" placeholder="Digite aqui">
            <label>Valor*</label>
            <input type="number" name="" id="" placeholder="Digite aqui">
            <label>Data*</label>
            <input type="date" name="" id="">
        </div>
        <div class="btn-launch">
            <button>Criar Lançamento</button>
        </div>
    </div>
</div>